<h1>Listing quizzes</h1>

<table class="admin-index">
  <tr>
    <th class="id"></th>
    <th class="sub">Sub</th>
    <th class="number">No</th>
    <th class="q-a">Q/A</th>
    <th class="content-type">Content_type</th>
    <th colspan="4" class="dl-menu"></th>
  </tr>

<% @quizzes.each do |quiz| %>
  <tr>
    <td><%= quiz.id %></td>
    <td><%= quiz.subject.screen_title %></td>
    <td><%= quiz.number %></td>
    <td><%= quiz.q_a.upcase %></td>
    <td><%= quiz.content_type %></td>
    <td><%= link_to 'DL',
      { controller: 'quizzes', action: 'download', id: quiz.id } %></td>
    <td><%= link_to 'Show', quiz %></td>
    <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
    <td><%= link_to 'Destroy', quiz, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quiz', new_quiz_path %>
