<p id="notice"><%= notice %></p>

<dl class="admin-show">
  <dt>ID</dt>
  <dd><%= @quiz.id %></dd>

  <dt>Subject</dt>
  <dd><%= @quiz.subject.screen_title %></dd>

  <dt>Number</dt>
  <dd><%= @quiz.number %></dd>

  <dt>Q/A</dt>
  <dd><%= @quiz.q_a.upcase %></dd>

  <dt>File_name</dt>
  <dd><%= @quiz.file_name %></dd>

  <dt>Content_type</dt>
  <dd><%= @quiz.content_type %></dd>

  <dt>File</dt>
  <dd><%= link_to 'DL',
      { controller: 'quizzes', action: 'download', id: @quiz.id } %></dd>
</dl>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
