<p id="notice"><%= notice %></p>

<dl class="admin-show">
  <dt>ID</dt>
  <dd><%= @summary.id %></dd>

  <dt>Subject</dt>
  <dd><%= @summary.subject.screen_title %></dd>

  <dt>Number</dt>
  <dd><%= @summary.number %></dd>

  <dt>File_name</dt>
  <dd><%= @summary.file_name %></dd>

  <dt>Content_type</dt>
  <dd><%= @summary.content_type %></dd>

  <dt>File</dt>
  <dd><%= link_to 'DL',
      { controller: 'summaries', action: 'download', id: @summary.id } %></dd>
</dl>

<%= link_to 'Edit', edit_summary_path(@summary) %> |
<%= link_to 'Back', summaries_path %>
