<p id="notice"><%= notice %></p>

<p>
  <b>Bbs group:</b>
  <%= @bbs_topic.bbs_group_id %>
</p>

<p>
  <b>User:</b>
  <%= @bbs_topic.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @bbs_topic.title %>
</p>


<%= link_to 'Edit', edit_bbs_topic_path(@bbs_topic) %> |
<%= link_to 'Back', bbs_topics_path %>
