<%= form_for(@bbs_body) do |f| %>
  <% if @bbs_body.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bbs_body.errors.count, "error") %> prohibited this bbs_body from being saved:</h2>

      <ul>
      <% @bbs_body.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bbs_topic_id %><br />
    <%= f.number_field :bbs_topic_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
