<p id="notice"><%= notice %></p>

<p>
  <b>Bbs topic:</b>
  <%= @bbs_body.bbs_topic_id %>
</p>

<p>
  <b>User:</b>
  <%= @bbs_body.user_id %>
</p>

<p>
  <b>Text:</b>
  <%= @bbs_body.text %>
</p>


<%= link_to 'Edit', edit_bbs_body_path(@bbs_body) %> |
<%= link_to 'Back', bbs_bodies_path %>
