<h1>BBS投稿管理</h1>
<% if @notice.blank? %>
<section>
  <table class="admin-index">
    <tr>
      <th class="id"></th>
      <th class="topic">Thread</th>
      <th class="user_name">User</th>
      <th class="text">text</th>
      <th class="datetime">posted_at</th>
      <th class="menu"></th>
    </tr>

  <% @bbs_bodys.each do |bbs_body| %>
    <tr>
      <td><%= bbs_body.id %></td>
      <td><%= bbs_body.bbs_topic.title %></td>
      <td><%= bbs_body.user.handel_name %></td>
      <td><%= bbs_body.text %></td>
      <td><%= bbs_body.created_at %></td>
      <td><%= link_to '削除', {action: 'delete_bbs_body', id: bbs_body.id } %></td>
    </tr>
  <% end %>
  </table>
  <p class="pagenation">
  <% for page in 1..@page_max %>
    <% if page=@page %>
      <%= page %>&nbsp;
    <% else %>
      <%= link_to page, {controller: 'admin', action: 'bbs_bodies', page: page} %>&nbsp;
    <% end %>
  <% end %>
</section>
<% else %>
  <%= @notice %>
<% end %>
