<h1>BBSスレッド管理</h1>
<% if @notice.blank? %>
<section>
  <table class="admin-index">
    <tr>
      <th class="id"></th>
      <th class="group">Group</th>
      <th class="title">Title</th>
      <th class="user_name">User_name</th>
      <th class="menu"></th>
    </tr>

  <% @bbs_topics.each do |bbs_topic| %>
    <tr>
      <td><%= bbs_topic.id %></td>
      <td><%= bbs_topic.bbs_group.title %></td>
      <td><%= bbs_topic.title %></td>
      <td><%= bbs_topic.user.handle_name %></td>
      <td><%= link_to '削除', {action: 'delete_bbs_topic', id: bbs_topic.id } %></td>
    </tr>
  <% end %>
  </table>
</section>
<% else %>
  <%= @notice %>
<% end %>
