<h1>change password</h1>

<%= form_tag controller: 'users', action: 'update_password' do %>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :new_password %>
    <%= password_field_tag :new_password %>
  </div>
  <div class="field">
    <%= label_tag :new_password_confirm %>
    <%= password_field_tag :new_password_confirm %>
  </div>
  <div class="actions"><%= submit_tag "update_password" %></div>
<% end %>
