<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <title>login : hokudaimedicine93.com</title>
  <%= stylesheet_link_tag "login" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "login" %>
</head>

<body>
  <div>
    <%= form_tag({controller: 'users',action: 'process_login_request'}) do %>
      <div class="field">
        <%= label_tag :mail %>
        <%= text_field_tag :mail %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="action">
        <%= submit_tag 'login' %>
      </div>
    <% end %>
  </div>
</body>
</html>
