<% @subject ? @page_title=@subject.screen_title : @page_title="教科のページ" %>

<em class="subject-header">Subject Page</em>
<h1 class="subject-title"><%= @subject.screen_title.force_encoding('utf-8') %></h1>

<h2>基本情報</h2>
<section>
  <dl class="subject-syllabus">
    <dt>教科名</dt>
    <dd><%= @subject.screen_title.force_encoding('utf-8') %></dd>
    <dt>担当教員</dt>
    <dd></dd>
  </dl>
</section>

<h2>授業資料</h2>
<section class="subject-database">
  <ul class="subject-summary">
  <% @summaries.each do |summary| %>
    <li><%= link_to "第#{summary.number}回",
        { controller: 'summaries', action: 'download', id: summary.id } %>
    </li>
  <% end %>
  </ul>
</section>

<h2>小テスト</h2>
<section class="subject-database">
  <ul class="subject-quiz">
  <% for number in 1..@quizzes.maximum('number') %>
    <li>
      第<%= number %>回：

      <% quiz=@quizzes.find_by_number_and_q_a(number, "q") %>
      <% if quiz.blank? %>
        問題
      <% else %>
        <%= link_to "問題",
        { controller: 'quizzes', action: 'download', id: quiz.id } %>
      <% end %>
      、
      <% quiz=@quizzes.find_by_number_and_q_a(number, "a") %>
      <% if quiz.blank? %>
        解答
      <% else %>
        <%= link_to "解答",
        { controller: 'quizzes', action: 'download', id: quiz.id } %>
      <% end %>
    </li>
  <% end %>
  </ul>
</section>

<h2>過去問</h2>
<section class="subject-database">
  <ul class="subject-exam">
  <% for year in @exams.minimum('year')..@exams.maximum('year') %>
    <% unless @exams.find_by_year(year).blank? %>
    <li>
      <%= year %>年度：
      <ul>
        <% for number in 1..@exams.where(year: year).maximum('number') %>
          <li>
            第<%= number %>回

            <% exam=@exams.find_by_number_and_q_a(number, "q") %>
            <% if exam.blank? %>
              問題
            <% else %>
              <%= link_to "問題",
              { controller: 'exams', action: 'download', id: exam.id } %>
            <% end %>
            、
            <% exam=@exams.find_by_number_and_q_a(number, "a") %>
            <% if exam.blank? %>
              解答
            <% else %>
              <%= link_to "解答",
              { controller: 'exams', action: 'download', id: exam.id } %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  </ul>
</section>

<h2>質問掲示板</h2>
<p>雑談現金！雑談は<%= link_to '雑談板', {controller: 'bbs', action: 'index'} %>で！</p>
<section id="subject-billboard">
  <div id="bbs">
    <%= render('bbs_bodies/bbs_bodies', bbs_topic_id: @subject.bbs_topic_id, page: 1) %>
  </div>

  <div>
    <%= form_for(@bbs_body, remote: true) do |f| %>
    <%= f.hidden_field :bbs_topic_id, value: @bbs_topic.id %>
    <%= f.hidden_field :user_id, value: 1 %>
    <div class="field">
      <%= f.text_field :text %>
    </div>
    <div class="action">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</section>
