<h1>新規授業資料ファイルをアップロード</h1>

<%= form_tag({action: 'create_exam'}, {multipart: true}) do %>
  教科を選択<br />
  <%= select_tag('subject_id', option_groups_from_collection_for_select(Term.all, :subjects, :title, :id, :title_ja, @subject_id)) %><br />
  第<%= select_tag('number', options_from_collection_for_select((1..30).to_a, 'to_i', 'to_i')) %>回<br />
  ファイル<%= file_field_tag('file') %><br />
  <%= submit_tag 'submit' %>
<% end %>
