<% @subject ? @page_title=@subject.title_ja : @page_title="教科のページ" %>

<em class="subject-header">Subject Page</em>
<h1 class="subject-title"><%= @subject.title_ja %></h1>

<h2>基本情報</h2>
<section>
  <dl class="subject-syllabus">
    <dt>教科名</dt>
    <dd>&nbsp;&nbsp;<%= @subject.title_ja %></dd>
    <dt>担当教員</dt>
    <dd>&nbsp;&nbsp;<%= @subject.teacher %></dd>
  </dl>
</section>

<h2>授業資料</h2>
<section class="subject-database">
  <%= link_to '新規', {action: 'new_summary', id: @subject.id } %><br />
  <% if @notice_summary.blank? %>
    <ul class="subject-summary">
      <% @summaries.each do |summary| %>
        <li>
        <span class="subject-database-number">第<%= summary.number %>回</span>
        <%= link_to 'DL', { controller: 'summaries', action: 'download', id: summary.id } %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= @notice_summary %>
  <% end %>
</section>

<h2>小テスト</h2>
<section class="subject-database">
  <%= link_to '新規', {action: 'new_quiz', id: @subject.id} %><br />
  <% if @notice_quiz.blank? %>
    <ul class="subject-quiz">
      <% quiz_temp_number=0 %>
      <% @quizzes.each do |quiz| %>
        <li>
        <span class="subject-database-number">
          <% if quiz.number!=quiz_temp_number %>第<%= quiz.number %>回<% end %>
        </span>
        <% if quiz.q_a=='q' %>
          <span class="subject-database-q">問題</span>
        <% else %>
          <span class="subject-database-a">解答</span>
        <% end %>
        <%= link_to 'DL', { controller: 'quizzes', action: 'download', id: quiz.id } %>
        </li>
        <% quiz_temp_number=quiz.number %>
      <% end %>
    </ul>
  <% else %>
    <%= @notice_quiz %>
  <% end %>
</section>

<h2>過去問</h2>
<section class="subject-database">
  <%= link_to '新規', {action: 'new_exam', id: @subject.id} %><br />
  <% if @notice_exam.blank? %>
    <ul class="subject-exam">
      <% exam_temp_year=0 %>
      <% exam_temp_number=0 %>
      <% @exams.each do |exam| %>
        <li>
        <span class="subject-database-year">
          <% if exam.year!=exam_temp_year %><%= exam.year %>年度<% end %>
        </span>
        <span class="subject-database-number">
          <% if exam.number!=exam_temp_number %>第<%= exam.number %>回<% end %>
        </span>
        <% if exam.q_a=='q' %>
          <span class="subject-database-q">問題</span>
        <% else %>
          <span class="subject-database-a">解答</span>
        <% end %>
        <%= link_to 'DL', { controller: 'exams', action: 'download', id: exam.id } %>
        </li>
        <% exam_temp_year=exam.year %>
        <% exam_temp_number=exam.number %>
      <% end %>
    </ul>
  <% else %>
    <%= @notice_exam %>
  <% end %>
</section>

<h2>質問掲示板</h2>
<p>雑談現金！雑談は<%= link_to '雑談板', {controller: 'bbs', action: 'index'} %>で！</p>
<section id="subject-billboard">
  BBS service, COMING SOON!
  <% if nil %>
    <%= render 'bbs_bodies/bbs_window', bbs_topic_id: @bbs_topic.id %>
  <% end %>
</section>
