<p id="notice"><%= notice %></p>

<dl class="admin-show">
  <dt>ID</dt>
  <dd><%= @subject.id %></dd>

  <dt>Term</dt>
  <dd><%= @subject.term.title %></dd>

  <dt>Page_title</dt>
  <dd><%= @subject.page_title %></dd>

  <dt>Screen_title</dt>
  <dd><%= @subject.screen_title %></dd>
</dl>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
