<%= form_for(@bbs_group) do |f| %>
  <% if @bbs_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bbs_group.errors.count, "error") %> prohibited this bbs_group from being saved:</h2>

      <ul>
      <% @bbs_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :is_a_term %><br />
    <%= f.check_box :is_a_term %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
