<h1>教科管理</h1>
<% if @notice.blank? %>
<section>
  <table class="admin-index">
    <tr>
      <th class="id"></th>
      <th class="term">Term</th>
      <th class="sub">title_ja</th>
      <th class="sub-en">title_en</th>
      <th class="full_name">Teacher</th>
      <th class="textbooks">Textbooks</th>
      <th class="id">BBS-Topic</th>
      <th class="menu"></th>
    </tr>

  <% @subjects.each do |subject| %>
    <tr>
      <td><%= subject.id %></td>
      <td><%= subject.term.title %></td>
      <td><%= subject.title_ja %></td>
      <td><%= subject.title_en %></td>
      <td><%= subject.teacher %></td>
      <td><%= subject.textbooks %></td>
      <td><%= subject.bbs_topic_id %></td>
      <td><%= link_to 'edit', {action: 'edit_subject', id: subject.id} %></td>
    </tr>
  <% end %>
  </table>
</section>
<% else %>
  <%= @notice %>
<% end %>
<%= link_to 'new', action: 'new_subject' %>
