<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <select id="exam_subject_id" name="exam[subject_id]">
      <optgroup label="1年前期">
        <option value="1">統計学</option>
      </optgroup>
    </select>
  </div>
  <div class="field">
    <%= f.label '年度(西暦)' %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.check_box :type %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
