<h1>Listing exams</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Subject</th>
    <th>Year</th>
    <th>Q/A</th>
    <th>File</th>
    <th>File_name</th>
    <th>Content_type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exams.each do |exam| %>
  <tr>
    <td><%= exam.id %></td>
    <td><%= exam.subject.screen_title %></td>
    <td><%= exam.year %></td>
    <td><%= if exam.type==1 do "A" else "Q" end %></td>
    <td><%= exam.file %></td>
    <td><%= exam.file_name %></td>
    <td><%= exam.content_type %></td>
    <td><%= link_to 'Show', exam %></td>
    <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
    <td><%= link_to 'Destroy', exam, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exam', new_exam_path %>
