<h1>Listing exams</h1>

<section>
  <table class="admin-index">
    <tr>
      <th class="id"></th>
      <th class="sub">Sub</th>
      <th class="year">Year</th>
      <th class="number">No</th>
      <th class="q-a">Q/A</th>
      <th class="content-type">Content_type</th>
      <th colspan="4" class="dl-menu"></th>
    </tr>

  <% @exams.each do |exam| %>
    <tr>
      <td><%= exam.id %></td>
      <td><%= exam.subject.screen_title %></td>
      <td><%= exam.year %></td>
      <td><%= exam.number %></td>
      <td><%= exam.q_a.upcase %></td>
      <td><%= exam.content_type %></td>
      <td><%= link_to 'DL',
        { controller: 'exams', action: 'download', id: exam.id } %></td>
      <td><%= link_to 'Show', exam %></td>
      <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
      <td><%= link_to 'Destroy',
        { controller: 'exams', action: 'destroy', id: exam.id },
          confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
</section>

<%= link_to 'New Exam', new_exam_path %>
