<p id="notice"><%= notice %></p>

<dl class="admin-show">
  <dt>ID</dt>
  <dd><%= @exam.id %></dd>

  <dt>Subject</dt>
  <dd><%= @exam.subject.screen_title %></dd>

  <dt>Year</dt>
  <dd><%= @exam.year %></dd>

  <dt>Number</dt>
  <dd><%= @exam.number %></dd>

  <dt>Q/A</dt>
  <dd><%= @exam.q_a.upcase %></dd>

  <dt>File_name</dt>
  <dd><%= @exam.file_name %></dd>

  <dt>Content_type</dt>
  <dd><%= @exam.content_type %></dd>

  <dt>File</dt>
  <dd><%= link_to 'DL',
      { controller: 'exams', action: 'download', id: @exam.id } %></dd>
</dl>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
