<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @exam.id %>
</p>

<p>
  <b>Subject</b>
  <%= @exam.subject.screen_title %>
</p>

<p>
  <b>Year:</b>
  <%= @exam.year %>
</p>

<p>
  <b>Number:</b>
  <%= @exam.number %>
</p>

<p>
  <b>Q/A:</b>
  <%= @exam.q_a.upcase %>
</p>

<p>
  <b>File:</b>
</p>

<p>
  <b>File_name:</b>
  <%= @exam.file_name %>
</p>

<p>
  <b>Content_type:</b>
  <%= @exam.content_type %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
