<h1>パスワード変更</h1>

<%= form_tag action: 'update_password' do %>
  <p>
    現在のパスワード<br />
    <%= password_field_tag :password %>
  <p>

  <p>
    新しいパスワード<br />
    <%= password_field_tag :new_password %><br />
    確認のため再入力してください<br />
    <%= password_field_tag :new_password_confirm %>
  </p>
  <%= submit_tag 'submit' %>
<% end %>

<%= link_to '戻る', action: 'edit_profile' %>
