<% @index_page=false; @subject_page=false; @calender_page=false; %>
<% @bbs_page=false; @mail_page=false; @sns_page=false; @about_page=false %>
<% @page_title="管理ページ" %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "admin" %>
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag "admin" %>
<% end %>

<% content_for :content do %>
  <nav id="grobal-side-navigation">
    <h1>教科関係</h1>
    <section>
      <ul>
        <li><%= link_to '授業資料', action: 'summaries' %></li>
        <li><%= link_to '小テスト', action: 'quizzes' %></li>
        <li><%= link_to '過去問', action: 'exams' %></li>
      </ul>
    </section>
    <h1>BBS</h1>
    <section>
      <ul>
        <li><%= link_to 'BBSスレッド', action: 'bbs_topics' %></li>
        <li><%= link_to 'BBS投稿', action: 'bbs_bodies' %></li>
      </ul>
    </section>
    <h1>メンバー管理</h1>
    <section>
      <ul>
        <li><%= link_to 'メンバー管理', action: 'users' %></li>
        <li><%= link_to 'メンバー招待', action: 'invite_user' %></li>
      </ul>
    </section>
    <%= link_to 'システム管理者', {controller: 'system', action: 'index'} %>
  </nav>

  <div id=grobal-main-column>

    <%= yield %>

  </div>
<% end %>
<%= render template: 'layouts/application' %>
