<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <title><%= @page_title ? @page_title+" : hokudaimedicine93.com" : "hokudaimedicine93.com" %></title>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "grobal" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= favicon_link_tag 'grobal-image/grobal-favicon.gif' %>
</head>
<body>
  <div id=grobal-wrapper>

    <header id=grobal-header>
      <div id=grobal-banner>
        <%= image_tag 'grobal-image/grobal-top.png', alt: 'page-top' %>
        <div id=grobal-user-menu>
          <%= link_to 'log-out', '/logout' %><br />
          <%= link_to 'profile', '/profile' %><br />
          <%= link_to 'admin menu', '/admin/index' %>
        </div>
      </div>

      <nav id=grobal-header-menu>
        <ul>
          <li>
            <% if @index_page %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-home.gif', {alt: 'home'}), {controller: 'index', action: 'index'}, {class: 'self-link'} %>
            <% else %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-home.gif', {alt: 'home'}), {controller: 'index', action: 'index'}, {class: 'other-page'} %>
            <% end %>
          </li>
          <li>
            <% if @subject_page %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-study.gif', {alt: 'study'}), {controller: 'subject', action: 'index'}, {class: 'self-link'} %>
            <% else %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-study.gif', {alt: 'study'}), {controller: 'subject', action: 'index'}, {class: 'other-page'} %>
            <% end %>
          </li>
          <li>
            <% if @calender_page %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-calender.gif', {alt: 'calender'}), {controller: 'calender', action: 'index'}, {class: 'self-link'} %>
            <% else %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-calender.gif', {alt: 'calender'}), {controller: 'calender', action: 'index'}, {class: 'other-page'} %>
            <% end %>
          </li>
          <li>
            <% if @bbs_page %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-bbs.gif', {alt: 'bbs'}), {controller: 'bbs', action: 'index'}, {class: 'self-link'} %>
            <% else %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-bbs.gif', {alt: 'bbs'}), {controller: 'bbs', action: 'index'}, {class: 'other-page'} %>
            <% end %>
          </li>
          <li>
            <% if @mail_page %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-freeml.gif', {alt: 'freeml'}), {controller: 'mail', action: 'index'}, {class: 'self-link'} %>
            <% else %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-freeml.gif', {alt: 'freeml'}), {controller: 'mail', action: 'index'}, {class: 'other-page'} %>
            <% end %>
          </li>
          <li>
            <% if @sns_page %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-sns.gif', {alt: 'sns'}), {controller: 'index', action: 'sns'}, {class: 'self-link'} %>
            <% else %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-sns.gif', {alt: 'sns'}), {controller: 'index', action: 'sns'}, {class: 'other-page'} %>
            <% end %>
          </li>
          <li>
            <% if @about_page %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-about.gif', {alt: 'about'}), {controller: 'index', action: 'about'}, {class: 'self-link'} %>
            <% else %>
              <%= link_to image_tag('grobal-image/grobal-top-menu-about.gif', {alt: 'about'}), {controller: 'index', action: 'about'}, {class: 'other-page'} %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>

    <div id="grobal-contents">
      <%= content_for?(:content) ? yield(:content) : yield %>
      <div style="clear: both;"></div>
    </div>

    <footer id=grobal-footer>
      <hr><!-- TODO 後できちんと画像にすること-->
      <address>
        Copyright 2011-2012 hokudaimedicine93.com
      </address>
    </footer>

  </div>
</body>
</html>
