<% @index_page=false; @subject_page=true; @calender_page=false; %>
<% @bbs_page=false; @mail_page=false; @sns_page=false; @about_page=false %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "subject" %>
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag "subject" %>
<% end %>

<% content_for :content do %>
  <nav id="grobal-side-navigation">
  <% Term.order('id DESC').each do |term| %>
    <h1><%= term.title %></h1>
    <section>
      <ul>
      <% Subject.where(term_id: term.id).each do |subject| %>
        <li>
          <%= link_to subject.screen_title,
            { controller: 'subject', action: subject.page_title } %>
        </li>
      <% end %>
      </ul>
    </section>
  <% end %>
  </nav>

  <div id=grobal-main-column>

    <%= yield %>

  </div>

<% end %>
<%= render template: 'layouts/application' %>
