<% @index_page=false; @subject_page=false; @calender_page=false; %>
<% @bbs_page=false; @mail_page=false; @sns_page=false; @about_page=false %>
<% @page_title="システム管理ページ" %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "admin" %>
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag "admin" %>
<% end %>

<% content_for :content do %>
  <nav id="grobal-side-navigation">
    <h1>教科関係</h1>
    <section>
      <ul>
        <li><%= link_to '学期', {controller: 'system', action: 'terms'} %></li>
        <li><%= link_to '教科', {controller: 'system', action: 'subjects'} %></li>
      </ul>
    </section>
    <h1>BBS</h1>
    <section>
      <ul>
        <li><%= link_to 'BBSグループ', {controller: 'system', action: 'bbs_groups'} %></li>
      </ul>
    </section>
    <h1>メンバー管理</h1>
    <section>
      <ul>
        <li><%= link_to 'メンバー詳細管理', {controller: 'system', action: 'users_detail'} %></li>
        <li><%= link_to 'メンバー一括招待', {controller: 'system', action: 'invite_users_from_list'} %></li>
      </ul>
    </section>
  </nav>

  <div id=grobal-main-column>

    <%= yield %>

  </div>
<% end %>
<%= render template: 'layouts/application' %>
